@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer
<MudContainer>
    <MudGrid>


        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2">@_localizer["Title"]</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">@_localizer["Description"]</MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
                @_localizer["Legal Lead Closer Description"] <br />Founded by <MudLink Href="https://ascent.legal/" Target="_blank">Ascent Legal</MudLink>.
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@CustomIcons.LLCicon" Color="Color.Primary" Size="Size.Large" ViewBox="80 0 500 500" Style="width: 300px; height: 300px;" />
            </div>
        </MudItem> <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://github.com/Silcott/LegalLeadCloser" Target="_blank">@_localizer["Project Page"]</MudButton>
                @*<MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="https://www.buymeacoffee.com/jbsilcott" Target="_blank">@_localizer["Support Me"]</MudButton>*@
            </div>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudExpansionPanels>
                <MudExpansionPanel Text="@_localizer["Getting Started"]" MaxHeight="150">
                    @_localizer["Increase you are stuck anywhere or have any queries regarding this implementation, I have compiled a Quick Start Guide for you reference."]
                    <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Secondary" Link="https://github.com/Silcott/LegalLeadCloser" Target="_blank">@_localizer["Read The Guide"]</MudButton>
                </MudExpansionPanel>
                <MudExpansionPanel Text="@_localizer["Important Links"]" MaxHeight="500">
                    <MudList Clickable="true">
                        <MudListItem Text="@_localizer["Give Ascent Legal Feedback:"]" Href="https://github.com/Silcott/LegalLeadCloser" />
                        <MudListItem Text="@_localizer["Quick Start Guide"]" Href="https://github.com/Silcott/LegalLeadCloser" />
                    </MudList>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>