@model IEnumerable<LegalLeadCloser.Models.Clients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCodeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtCounty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCodeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
