@using LLC.Application.Features.Brands.Commands.AddEdit
<EditForm Model="@AddEditBrandModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditBrandModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @localizer["Add Client"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @localizer["Update Client"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditBrandModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditBrandModel.Id)" @bind-Value="AddEditBrandModel.Id" Label="@localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => AddEditBrandModel.FirstName)" @bind-Value="AddEditBrandModel.FirstName" Label="@localizer["First Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditBrandModel.LastName)" @bind-Value="AddEditBrandModel.LastName" Label="@localizer["Last Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker Elevation="8" DateFormat="dd-MM-yyyy" @bind-Date="AddEditBrandModel.CourtDate" Label="@localizer["Court Date"]" />
                    <p hidden><MudTextField For="@(() => AddEditBrandModel.CourtDate)" @bind-Value="AddEditBrandModel.CourtDate" Label="@localizer["Court Date"]" /></p>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditBrandModel.CourtLocation)" @bind-Value="AddEditBrandModel.CourtLocation" Label="@localizer["Court Location"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                        <MudTextField For="@(() => AddEditBrandModel.Phone)" @bind-Value="AddEditBrandModel.Phone" Label="@localizer["Phone"]" Placeholder="(XXX)XXX-XXXX" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditBrandModel.Email)" @bind-Value="AddEditBrandModel.Email" Label="@localizer["Email"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditBrandModel.Birthdate)" @bind-Value="AddEditBrandModel.Birthdate" Label="@localizer["Birthdate"]" />
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">@localizer["Cancel"]</MudButton>
            @if (AddEditBrandModel.Id != 0)
            {
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!validated)" Color="Color.Secondary">@localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!validated)" Color="Color.Success">@localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>

@code{
    MudDatePicker _picker;
    DateTime date = Convert.ToDateTime(DateTime.Today.ToShortDateString());
}